
@font-face {
  font-family: 'helvetica_boldcondensed';
  src: url('HelveticaNeueLTCom-BdCn.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTCom-BdCn.woff') format('woff'), url('HelveticaNeueLTCom-BdCn.ttf')  format('truetype'), url('HelveticaNeueLTCom-BdCn.svg#HelveticaNeueLTCom-BdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
