
@font-face {
  font-family: 'helvetica_condensed';
  src: url('HelveticaNeueLTCom-Cn.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTCom-Cn.woff') format('woff'), url('HelveticaNeueLTCom-Cn.ttf')  format('truetype'), url('HelveticaNeueLTCom-Cn.svg#HelveticaNeueLTCom-Cn') format('svg');
  font-weight: normal;
  font-style: normal;
}
